* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
  }
  
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
body {
    margin: 0;
    padding: 0;
  }
  
.layar-dalam {
    max-width: 100%;
    margin: auto;
}
.layar-penuh{
    width: 100%;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

/* Navigation */
nav{
    z-index: 100;
    color: #fff;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #b1b1b1;
    line-height: 60px;
    width: 100%;
    transition: background-color 0.5s ease;
}

nav.putih{
    background-color: #fff;
}

nav .logo{
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
}

nav .logo img{
    width: 120px;
}

nav .menu{
    float: right;
    height: 60px;
    max-width: 600px;
}

nav .menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .menu ul li{
    list-style-type: none;
    float: left;
    line-height: 60px;
}

nav ul li a{
    color: #fff;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 991.98px) {
    .columns{
        display: contents;
        width: 80%;    
    }
    .bisnis{
        display: contents;
        width: 80%;    
    }
    }
/* End Navigation */

/* Header */
header{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

header video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
}

header .intro{
    z-index: 100;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
}

header .intro h3{
    font-size: 50px;
    margin: 0;
    padding: 0;   
}

header .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 50%;
    z-index: -1;
}

.tombol-menu{
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.tombol-menu .garis{
    height: 3px;
    background-color: #fff;

}

section{
    padding: 50px 0px 50px 0px;
}
section h3{
    font-size: 30px;
}

section h3::after{
    content: "";
    border-bottom: 5px solid #c86b85;
    width: 52px;
    display: block;
    margin: 20px auto;
}

#aboutus, #team,#blog{
    text-align: center;
}
section p.ringkasan{
    font-style: italic;
    font-size: 18px;
    color: #abab;
}

section .konten-isi{
    font-style: normal;

}

nav.putih{
    background-color: #fff;
}

nav.putih .tombol-menu .garis{
    background-color: #333;
}

nav .logo img.hitam{
    display: none;
}

nav.putih ul li a{
    color: #333;
}
/* header */

#pricing{
    text-align: center;
}
section.abuabu{
    background-color: #f5f6f6;
}

section.pricing-layout{
    background-color: #f5f6f6;
    margin-bottom: 500px;
}


.support,
.tim,
.blog{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.support h6
,.tim h6{
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.support img{
    width: 50px;
}

.support div, .tim div{
    text-align: center;
    width: 26%;
}

section.quote {

    background:url(asset/background-bromo.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    padding: 100px;
}

section.quote .layar-dalam p{
    display: inline;
    background: url(asset/quote-icon.png) no-repeat;
    padding: 40px;
}

.blog .area {
    width: 47%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog div.area div{
    width: 50%;
    
}

.blog .area .gambar {
    border-radius: 5px 0px 0px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
}

.blog .area .text article{
    padding: 40px;
}

.blog .area .text article h4{
    margin: 0px;
}

.blog .area .text article a:hover{
    color: #ccc;
}

/* End Header */

/* Pricing List */
* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 15px;
  }
  
  .choice{
      padding-left: none;
      padding-top: 5%;
  }

  /* .isi-paket{
      border: 1px solid;
      width: 100%;
      padding-top: 10%;
  } */
  .pricing-list {
    padding-left: 35px;
    padding-right: 35px;
    margin-top: -30px;
  }
  
  .pricing-list-bisnis {
    padding-left: 10px;
  }
  
  .columns {
      float: left;
      width: 33.3%;
      padding: 20px;
      border-radius: 10px 10px;
      background-color: whitesmoke;
  }

  .bisnis {
    float: left;
    width: 25%;
    padding: 20px;
    border-radius: 10px 10px;
    background-color: whitesmoke;
}
  .paket-bisnis {
    display: inline-block;
    float: left;
    width: 25%;
    padding: 15px;
    text-align: center;
  }
  
  .price {
      width: 100%;
      list-style-type: none;
      border: 1px solid #eee;
      margin: 0;
      padding: 0;
      -webkit-transition: 0.3s;
      transition: 0.3s;
  }
  
  .nav-padding{
    /* margin-top: -100px; */
    /* width: 1200px; */
    margin-left: auto;
    margin-right: auto;
  }
  
  .price-bisnis {
    width: 100%;
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price-bisnis li {
    padding: 10px;
  }
  .pricing-plan__special-text {
    padding: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #555555;
    background: #fff;
    padding: 15px;
  }
  
  .pricing-plan--highlighted {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.5);
  }
  
  .pricing-plan--highlighted:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    z-index: 1;
    transform: scale(1.5);
  }
  
  .pricing-plan__title,
  .pricing-plan__summary {
    margin: 0;
    text-align: center;
    padding: 15spx;
  }
  
  .pricing-plan__title {
    font-size: 1.5em;
    font-weight: 400;
  }
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    z-index: 1;
  }
  
  .price-bisnis:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    z-index: 1;
  }

  
.header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(-45deg, #f403d1, #64b5f6);
    border-radius: 10px 10px 0 0;
    font-size: 20px;
  }
  .price {
    background: white;
    color: #555;
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    text-decoration: none;
  }
  .price p {
    text-align: center;
  }
  .description {
    text-align: center;
    margin: auto;
  }
  
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  .pricing-plan__cost {
    margin: 0;
    text-align: center;
    padding: 25px;
  
    font-size: 20px;
    color: #000000;
  }
  
  .pricing-plan__price {
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: #000000;
  }
  
  .pricing-plan__feature {
    list-style: none;
    font-size: 0.9em;
    padding-left: -20px;
  }
  
  .pricing-plan__list {
    padding: 0;
    margin: 0;
  }
  
  .button {
    display: inline-block;
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid #009578;
  }
  
  .button:hover {
    background: linear-gradient(-45deg, #f403d1, #64b5f6);
    color: #fff;
    border: 1px solid #fff;
  }
  
  #beneift{
    text-align: center;
  }
/* End Pricing List */

/* Footer */
footer{
    padding: 50px 0px 50px 0px;
    background-color: #343a40;
    color: #fff;
}

footer .layar-dalam{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .layar-dalam div{
    width: 20%;
}

footer .layar-dalam h5{
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
}

footer .layar-dalam .copyright{
    width: 100;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #666;
    text-align: center;
}

.copyright{
    margin: auto;
}
/* End Footer */

/* Responsive */
@media screen and (max-width: 991.98px) {
    .layar-dalam{
        width: 90%;
    }
    nav .menu ul{
        display: none;
        margin-top: 60px;
        position:absolute;
        top: 0;
        left: 0;;
        width: 100%;
    }

    nav .menu ul li{
        width: 100%;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        line-height: 40px;
    }

    nav .menu ul li a{
        color: #333;
    }

    .tombol-menu{
        display: flex;

    }
    .blog .area{
        display: block;
    }
    
    .blog div.area div{
        width: 100%;
    }

    .blog .area .gambar {
        border-radius: 5px 5px 0px 0px;
        height: 200px;
    }

    .support {
        display: block;
    }

    .support div{
        width: 100%;
        padding-bottom: 30px;
    }
}	

/* End Responsive */